$main-color = #FF9C23
$main-color-dark = rgba(255,156,35,0.9)
$sub-color = #FFF8DC
$sub-color-dark = rgba(255,248,220,0.9)
$btn-text-color = #332311
$title-color = #332311
$title-color-dark = #999999
$hover-color = #bbc5cf
$active-color = #93a3b3
